{% extends 'base1.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>
<!-- TEAM DETAILS AREA START -->
<div class="ltn__team-details-area mt-100 mb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="ltn__team-details-member-info text-center mb-40">
                    <div class="team-details-img">
                        <img src="img/team/2.jpg" alt="Team Member Image">
                    </div>
                    <h2>Rosalina D. William</h2>
                    <h6 class="text-uppercase ltn__secondary-color">Property Seller</h6>
                    <div class="ltn__social-media-3">
                        <ul>
                            <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ltn__team-details-member-info-details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ltn__team-details-member-about">
                                <ul>
                                    <li><strong>Positions:</strong> Senior Property Seller</li>
                                    <li><strong>Experience:</strong> 10+ Years</li>
                                    <li><strong>Location:</strong> 13/A, NYC</li>
                                    <li><strong>Practice Area:</strong> Property Seller</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ltn__team-details-member-about">
                                <ul>
                                    <li><strong>Email:</strong> example@example.com</li>
                                    <li><strong>Fax:</strong> +0123-456 789</li>
                                    <li><strong>Phone:</strong> +0123-456 789</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TEAM DETAILS AREA END -->

{% endblock content %}
