{% extends 'base.html' %} 
{% load static %}
 {% block content %}

 <div class="card col-lg-8">
  <div class="card-body">

        {% if user.role == user.EXPERT %}

        <form method="post" action="{% url 'account:expert_change_password' %}">
            {% csrf_token %}
      
            
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning">Change Password</button> 
            
          </form>
  
          {% elif user.role == user.FARMER %}

          <form method="post" action="{% url 'account:farmer_change_password' %}">
            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit" class="btn btn-warning">Change Password</button> 
            
          </form>
          {% endif %}
       

  </div>
</div>
               
    
{% endblock content %}
