{% extends "base.html" %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!-- Load message -->
    {% include 'alerts2.html' %}
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="mb-4">
            <h5 class="card-title mb-0">Rice Yield</h5>
          </div>
          <div class="row d-flex align-items-center mb-4">
            <div class="col-8">
              <h5 class="d-flex align-items-center mb-0">3.2 tons/hectare</h2>
            </div>
          </div>
          <div class="progress shadow-sm" style="height: 5px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: 65%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="mb-4">
            <h5 class="card-title mb-0">Paddy Price</h5>
          </div>
          <div class="row d-flex align-items-center mb-4">
            <div class="col-8">
              <h5 class="d-flex align-items-center mb-0">NPR 25,000/ton</h2>
            </div>
          </div>
          <div class="progress shadow-sm" style="height: 5px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%;"></div>
          </div>
          <a href="http://kalimatimarket.gov.np/home" target="_blank" rel="noopener noreferrer">Kalimati Fruit and Vegetable Market</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="mb-4">
            <h5 class="card-title mb-0">Fertilizer Cost</h5>
          </div>
          <div class="row d-flex align-items-center mb-4">
            <div class="col-8">
              <h5 class="d-flex align-items-center mb-0">NPR 15,000/hectare</h2>
            </div>
          </div>
          <div class="progress shadow-sm" style="height: 5px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;"></div>
          </div>
          <a href="https://www.moald.gov.np/" target="_blank" rel="noopener noreferrer">Ministry of Agriculture and Livestock Development</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-50">
      <div class="card">
        <div class="card-body">
          <div class="mb-4">
            <h5 class="card-title mb-0">Weather Forecast</h5>
          </div>
          <div class="row d-flex align-items-center mb-4">
            <div class="col-8">
              <h5 class="d-flex align-items-center mb-0">28°C, Partly Cloudy</h2>
            </div>
          </div>
          <div class="progress shadow-sm" style="height: 5px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: 85%;"></div>
          </div>
          <a href="http://www.mofald.gov.np/public/uploads/shares/932653021.pdf" target="_blank" rel="noopener noreferrer">Nepal Agriculture and Food Security</a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body" style="height:400px; width:500px ; align-content:center;">
                <h3 class="card-title">Soil Information</h3>
                <canvas id="piechart" style="align-content:center;"></canvas>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Experts</h4>
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expert in experts %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>{{ expert.full_name }}</td>
                                {% if expert.role %}
                                <td>{{ expert.get_role_display }}</td>
                                {% else %}
                                <td>Not Specified</td>
                                {% endif %}
                                <td>{{ expert.address }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row-->

    <br><br>
    <h3 class="mt-100">Weather Information</h3>
    <div class="row ">
        <canvas id="weatherChart" width="700" height="200"></canvas>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ctx = document.getElementById('weatherChart').getContext('2d');
            var dates = [];
            var maxTemps = [];
            var minTemps = [];
            var humidities = [];
            var precipitations = [];
    
            {% for day in jsonData.days %}
                dates.push("{{ day.datetime }}");
                maxTemps.push("{{ day.tempmax }}");
                minTemps.push("{{ day.tempmin }}");
                humidities.push("{{ day.humidity }}");
                precipitations.push("{{ day.precip }}");
            {% endfor %}
    
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Max Temperature (°C)',
                        data: maxTemps,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Min Temperature (°C)',
                        data: minTemps,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Humidity (%)',
                        data: humidities,
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Precipitation (%)',
                        data: precipitations,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                        x: {
                            grid: {
                                color: 'rgba(0, 0, 0, 0)', // Make grid lines plain
                            }
                        }
                    }
                }
            });
        });
    </script>

    <script>
        // Dynamic data from the API response
        var api_data = {{ response_data|safe }};
    
        // Extract data for the chart
        var labels = ['Clay', 'Organic Matter', 'Total Nitrogen', 'Boron', 'P2O5', 'Sand'];
        var values = [
            parseFloat(api_data.clay.split(' ')[0]),
            parseFloat(api_data.organicMatter.split(' ')[0]),
            parseFloat(api_data.totalNitrogen.split(' ')[0]),
            parseFloat(api_data.boron.split(' ')[0]),
            parseFloat(api_data.p2o5.split(' ')[0]),
            parseFloat(api_data.sand.split(' ')[0])
        ];
    
        var ctx = document.getElementById('piechart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    backgroundColor: ['#3F51B5', '#00c2b2', '#23b5e2', '#e83e8c', '#f8ac5a', '#FF6384'],
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Soil Properties'
                }
            }
        });
    </script>




{% endblock %}